@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

@font-face {
    font-family: "TITLE";
    src: url('@/assets/fonts/SinosansRegular-aYxZ5.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
  

:root {
    --page-bg: #1a1a1a;
    --bg-neutral: #2c2c2c;
    --purple-color: #9146bc;
    --clear-purple: #39005a;
    --color-white: #EFEFEF;
    --color-black: #0000;
    --color-lg-black: #202020;
    --color-blue: #4B5283;
    --color-placeholder: rgb(136, 136, 136);
    --button-content: #D7D7D7;

    --container-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.27);
    --container-padding: 25px 30px;
    --container-border-radius: 10px;

    --input-bg: #f5f5f5;

    --hover-background-color: #7d3aa6;
    --hover-bg-transition: background-color 0.2s ease;

    --hover-box-shadow: 0 0 3px 0px rgb(89, 98, 148);
    --hover-box-shadow-transition: box-shadow 0.15s ease-in-out;

    --hover-color: #7d3aa6;

}

* {
    box-sizing: border-box;
}

#app{   
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

body {
    background-color: var(--page-bg);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    font-weight: 400;
    margin: 0;

}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* For WebKit browsers (Chrome, Safari, Opera, new Edge) */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Scrollbar Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--bg-neutral);
    border-radius: 10px;
  }
  
  /* Scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--purple-color);
    border-radius: 10px;
  }
  
  /* For Firefox */
  * {
    /* "thin" or "auto" or "none" */
    scrollbar-width:thin;
    /* scrollbar-color: thumb color track color; */
    scrollbar-color: var(--purple-color) var(--bg-neutral);
  }
  

.mori{
    font-family: "TITLE";
    font-size: 2.5em;
    color: var(--color-white);
}

.adder{
    font-family: "Poppins";
    font-size: 22px;
    color: var(--purple-color);
}

.smallMoriLogo{
    width: 40px;
    height: 40px;
    background-image: url('../mori.png');
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    border: 0;
    border-radius: 50%;
    margin-right: -16px;
}

.moriImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('../mori.png');
    background-color: #9146bc8b;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--color-white);
    flex-shrink: 0;
    border-radius: 50%;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-lg-black);
}

p {
    margin: 0;
}


a {
    text-decoration: none;
    color: var(--purple-color);
}


i {
    cursor: pointer;
}

label {
    margin: 0;
}

input,
select,
textarea {
    padding: 7.5px;
    border-radius: 10px;
    background-color: var(--input-bg);
    border: none;
    box-shadow: var(--container-shadow);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 40px;
    transition: var(--hover-box-shadow-transition);
    overflow: hidden;

}

button i {
    font-size: 1.15em;
}



input[type="checkbox"] {
    width: initial;
    margin: 0;
}

input[type="checkbox"]+label {
    margin: 0;
}



input:focus,
select:focus {
    border: none;
    outline: none;
}

select:invalid {
    color: rgb(136, 136, 136);
}

option {
    color: var(--color-lg-black)
}

option:hover {
    color: orange;
}

::placeholder {
    color: var(--color-placeholder);
}

select {
    -webkit-appearance: none;
    appearance: none;
}

.select-wrapper {
    position: relative;
}



/* .select-wrapper img {
    position: absolute;
    right: 7.5px;
    top: 7.5px;
    height: 18.5px;
    width: 18.5px;

} */
.form-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--color-white);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.dropdown-arrow {
    position: absolute;
    right: 7.5px;
    top: 7.5px;
    height: 18.5px;
    width: 18.5px;


}

.user-picture {
    background-color: wheat;
    background-image: url(http://localhost:8081/${user.avatar});
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    border: 0;
    border-radius: 50%;

}

.contact-picture {
    background-color: wheat;
    background-image: url(http://localhost:8081/${contact.avatar});
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    border: 0;
    border-radius: 50%;
}

.accept {
    color: green;
}

.decline {
    color: red;
}

.small {
    height: 1.1em;
    width: 1.5em;
    color: var(--color-white) !important;
}

.medium {
    height: 3em;
    width: 3em;
}

.additional-info {
    color: var(--color-white);
    font-weight: 400;
    text-align: left;

}

.additional-info.large {
    font-size: 1.25rem;
    text-align: center;
}

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 15px 10px 15px;
    border: 0;
    border-radius: 10px;
    font-size: 14px;
    font-family: inherit;
    color: var(--button-content);
    background-color: var(--purple-color);
    cursor: pointer;

    transition: var(--hover-bg-transition);
}

.btn.active {
    color: var(--color-white);
    background-color: var(--purple-color);
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.651);
}

.btn.outline {
    background-color: var(--color-white);
    box-shadow: inset 0 0 0 2px var(--purple-color);
    color: var(--color-lg-black);
    font-weight: 400;
    transition: box-shadow 0.2s ease-in-out;

}


.item-list__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: var(--container-padding);
    background-color: var(--bg-neutral);
    box-shadow: var(--container-shadow);
    border-radius: var(--container-border-radius);
    align-items: flex-start;
    box-shadow: 0 2px 10px rgb(0, 0, 0);

}

.item-list__wrapper h3{
    color: var(--purple-color);
}

.item-list__wrapper:is(#following, #followers) {
    align-items: initial;
    text-align: center;
}

.item-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 100%; */
}

.item-list li {
    display: flex;
    gap: 5px;
    align-items: center;

}

.item-list .row1 {
    display: flex;
    gap: 10px;
    align-items: center;

}

.item-list .row2 {
    font-size: 1.4em;
    min-width: max-content;
    flex-shrink: 0;
    /* align-self: flex-start; */

}



.item-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}


/* Multiple item list together */
.multiple-item-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: hidden;
    padding: var(--container-padding);
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    border-radius: var(--container-border-radius);
    background-color: var(--bg-neutral);

    align-items: center;

}

.item-text a {
    color: var(--color-white);
}

.multiple-item-list>.item-list__wrapper {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    background: none;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--container-padding);
    gap: 15px; 
    color: var(--color-white);
    background: var(--bg-neutral);
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    border-radius: var(--container-border-radius);
    width: 550px;

}

.about h2 {
    color: var(--purple-color);
}

/* ADD IMAGE */
.add-image {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    min-width: 0;

}

.add-image label div {
    background-image: url('../icons/image-plus.svg');
    height: 30px;
    width: 30px;
    position: relative;
    cursor: pointer;
    transition: transform 0.35s ease-in-out;


}

.add-image input {
    position: absolute;
    opacity: 0;
}


.selected-image {
    display: flex;
    align-items: center;
    gap: 7.5px;
    padding: 7.5px;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);

    min-width: 0;
}

/* Element states */
input:is(:hover, :focus),
select:is(:hover, :focus),
textarea:is(:hover, :focus) {
    /* border: none; */
    outline: none;
    box-shadow: var(--hover-box-shadow);

}



.add-image label div:hover {
    filter: drop-shadow(5px 5px 3px rgb(187, 187, 199));
    transform: scale(1.05);
}

.item-list .item-text::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--hover-background-color);
    display: block;
    opacity: 0;
    transition: opacity 0.25s ease-in;
}


.item-list .item-text:hover::after {
    opacity: 1;
}

.btn:hover {
    background-color: var(--hover-background-color);
}

.btn.outline:hover {
    background-color: initial;
    box-shadow: inset 0 0 2px 2px rgb(136, 136, 160);
}